
a { display: block; }

.container {
    width: 1200px;
    margin: 0 auto;
}
.container.flexbox {
    display: flex;
    align-items: center;
}

body {
    margin: 0;
    background-color: #E6E6E6;
    color: black;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Georgia";
}

.homepageButton a {
    overflow: hidden;
    color: white;
    text-decoration: none;

}

navigation {
    display: flex;
    flex-direction: row;
    justify-content: center
}

.navigation img {
    max-width: 40px;
    max-height: 40px;
    margin-right: 45px;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    min-width: 200px;
    border-color: black;
    text-align: inherit;
    font-family: "Georgia";
    text-decoration: underline;
    padding: 0 3%;
}

.homeImg img {
    width: 96%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2%;
    height:70%;

}

.solid {
    background-color: black;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.navigation a:hover {
    color: black;
}

.navigation li:hover {
    color: black;
    background-color: #E6E6E6;
    font-size: 12px;
}

.navigation li {
    background-color: black;
    max-width: 190px;
    line-height: 35px;
    padding: 0 2.9%;
    font-size: 12px;
}

.navigation li.active {
    background-color: #E6E6E6;
    color: black;
    font-size: 12px;
    text-decoration: none;
}

.active a {
    background-color: #E6E6E6;
    color: black;
    font-size: 12px;
}


.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 30px 30px 30px;
}

.boxes img {
    height: 60%;
    width: 95%;
    animation-play-state: paused;
}

.boxes img:hover {
    animation: pulse_animation2 2s linear infinite;
    animation-play-state: running;
}

.container p {
    padding: 10px;
    min-width: 200px;
    min-height: 250px;
    text-align: center;
}

footer {
    background-color: black;
    color: white;
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.trademark {
    color: #efa133;
}

.footerContainer {
    min-width: 100px;
    min-height: 30px;
    max-height: 70px;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-right: 20px;
}

.footerContainer img {
    animation: swivel 1s linear infinite;
    animation-play-state: running;
}

.footerContainer img:hover {
    animation-play-state: paused;
}

.footerInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footerSpectrum {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerSpectrum img {
    padding: 0 10px;
}

.footerContainer2 {
    margin: 0 40px 0 40px;
}

.footerContainer2 a {
    overflow: hidden;
    color: white;
    text-decoration: none;
}

.socials img {
    max-width: 70px;
    max-height: 70px;
    cursor: pointer;
}

.socials img:hover {
    transform: rotateY(360deg);
    transition: 1s;
}

.firstRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 20px 20px 0;
}

.dropdown {
    flex-direction: column;
    padding: 0;
    margin: 0;
    max-width: 40px;
    font-size: 12px;
    align-content: center;
}

.dropdown a {
    overflow: hidden;
    font-size: 12px;
}

.dropdown a:hover {
    color: black;
}

.dropdown li:hover {
    background-color: #efa133;
}

.dropdown-menu {
    background-color: #e6e6e6;
    overflow: hidden;
    transition: 1s;
    max-height: 0;
    flex-direction: column;
    font-size: 12px;
}

.dropdown .dropdown-menu {
    flex-direction: column;
    position: absolute;
    height: 100px;
    font-size: 15px;
    border: hidden;
    z-index: 1000;
    font-size: 12px;
}

.dropdown:hover .dropdown-menu {
    max-height: 800px;
    flex-direction: column;
    height: 150px;
    font-size: 12px;
}

.dropdown .dropdown-menu a{
    color: white;
}
.dropdown a:hover {
    color: black;
}

.dropdown > a::after {
    /*content: "▾";*/
    padding-left: 0;
    font-size: 94%;
    flex-direction: column;
    font-size: 12px;
}

@keyframes swivel {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.map {
    padding: 5% 2%;
}

.form-container {
    max-width: 480px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    min-width: 480px;
    width:100%;
}

.form label,
form input {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
}

.form textarea {
    display: block;
    width: 100%;
}

.form input {
    border: 1px solid #cccccc;
    border-radius: 4px;
    background: #f1f1f1;
    border:none;
    padding: 15px;
    width:100%;
}

.form input:focus {
    background-color: #ddd;
  outline: none;
}

.contactInfo {
    display: flex;
    flex-direction: row;
}

.greeting {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 75px;
}

.greetings {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes pulse_animation {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.90);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(0.90);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pulse_animation2 {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.10);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.10);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pulse_animation3 {
    0% {
        transform: scale(1);
    }
    15% {
        transform: scale(0.9);
    }
    30% {
        transform: scale(1);
    }
    45% {
        transform: scale(0.9);
    }
    60% {
        transform: scale(1), rotate(0deg);
    }
    70% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(0deg);
    }
    90% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.homepageButton img {
    animation: pulse_animation 2s linear infinite;
    animation-play-state: running;
}

* {box-sizing: border-box}
    
.memberContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;

}

/* Set a style for all buttons */
memberButton {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.remember {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #efa133;
}

.signupbtn {
  padding: 14px 20px;
  background-color: #efa133;
}

.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

.cancelbtn:hover, .signupbtn:hover {
    cursor: pointer;
}

.memberContainer {
  padding: 16px;
    display: flex;
    justify-content: flex-start;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.Membership {
    display:flex;
    flex-direction: column;
    width:100%;
    margin-bottom: 10px;
}

.memberBody {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

.memberBody img {
    padding: 2%;
    width: 25%;
    max-height: 100%;
    margin-right: 0;
}

.aboutInfo {
    padding: 0 0 0 20px;
}
.aboutInfo p{
    width: 100%;
    padding: 0 10px 0 0;
    font-size: 20px;
}

.aboutPosition {
    display:flex;
    flex-direction: row;    
}

.aboutPosition img {
    max-width: 20%;
    max-height: 40%;
    margin: -5% 10px 0 0;
}

.aboutPosition2 {
    display:flex;
    flex-direction: column;
    width: 100%;
}

.aboutContainer {
    display:flex;
    flex-direction: row; 
    padding: 0 0 0 20px;
}

.aboutContainer p {
    padding: 0 20px 10px 10px;
    font-size: 20px;
}

.aboutContainer img {
    max-width: 15%;
    min-height: 30%;
    max-height: 30%;
    margin: 0 20px 20px -20px;
}
.ourFounders {
    padding-left: 20px;
}

.clothingContainer {
    display: flex;
    flex-direction: row;
    padding:1px;
    border:1px solid #021a40;
    background-color:#e6e6e6;
    max-width: 31%;
}

.clothingContainer img {
    max-height: 35%;
    min-height: 35%;
    max-width: 50%;
    min-width: 50%;
}

.mensClothingBody {
    padding: 0 1% 2% 2%;
    font-size: 20px;
}

.mensClothingBody h1, .mensClothingBody h2, .mensClothingBody h3, .mensClothingBody h4, .mensClothingBody p{
    margin-left: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rowBound {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.clothingContainer2 {
    display: flex;
    flex-direction: row;
    padding:1px;
    border:1px solid #021a40;
    background-color:#e6e6e6;
    width: 24%;
    height: 30%;
}


.clothingContainer2 img {
    height: 100%;
    width: 50%;
}

.rowBound2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.rowBound2 img {
    margin: 0 5%;
    padding:1px;
    border:1px solid #021a40;
    background-color:#e6e6e6;
    max-width: 50%;
    max-height: 50%;
}

.rowBound3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.rowBound3 img {
    margin: 0 5%;
    padding:1px;
    border:1px solid #021a40;
    background-color:#e6e6e6;
    max-width: 30%;
    max-height: 30%;
}

.rowBound4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.rowBound4 img {
    margin: 0 5%;
    padding:1px;
    border:1px solid #021a40;
    background-color:#e6e6e6;
    max-width: 20%;
    max-height: 30%;
}

.rowBound5 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;
}
.rowBound5 img {
    margin: 0 5%;
    padding:1px;
    border:1px solid #021a40;
    background-color:#e6e6e6;
    max-width: 20%;
    max-height: 40%;
}

.rowBound6 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;
}
.rowBound6 img {
    margin: 0 5%;
    padding:1px;
    border:1px solid #021a40;
    background-color:#e6e6e6;
    max-width: 20%;
    max-height: 55%;
}

.rowBound7 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.rowBound7 img {
    margin: 0 5%;
    padding:1px;
    border:1px solid #021a40;
    background-color:#e6e6e6;
    max-width: 30%;
    max-height: 20%;
}

.rowBound8 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
}
.rowBound8 img {
    margin: 0 5%;
    padding:1px;
    border:1px solid #021a40;
    background-color:#e6e6e6;
    max-width: 30%;
    max-height: 20%;
}
.rowBound9 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rowBound9 img {
    margin: 0 5%;
    padding:1px;
    border:1px solid #021a40;
    background-color:#e6e6e6;
    max-width: 18%;
    max-height: 15%;
}
.rowBound10 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.rowBound10 img {
    margin: 0 5%;
    padding:1px;
    border:1px solid #021a40;
    background-color:#e6e6e6;
    max-width: 25%;
    max-height: 25%;
}

.rowBound11 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.rowBound11 img {
    margin: 0 5%;
    padding:1px;
    border:1px solid #021a40;
    background-color:#e6e6e6;
    max-width: 25%;
    max-height: 25%;
}

.rowBound12 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rowBound12 img {
    margin: 0 5%;
    padding:1px;
    border:1px solid #021a40;
    background-color:#e6e6e6;
    width: 30%;
    max-height: 30%;
}

.rowBound13 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rowBound13 img {
    margin: 0 5%;
    border:1px solid #021a40;
    background-color:#e6e6e6;
    width: 20%;
    height: 25%;
}

.dietaryContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dietaryContainer img {
    width: 70%;
    height: 70%;
    padding: 10px;
}

.structure img {
    width: 85%;
    height: 70%;
}

.structure2 img {
    width: 85%;
    height: 70%;
    margin-left: 7%;
}

.structure3 img {
    width: 85%;
    height: 50%;
    margin-left: 7%;
}

.spacer {
    margin-top: 0;
    padding-top: 0;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spacer iframe {
    min-width: 200%;
    height:50%;
    margin-left: 50%;
    margin-top: 0;
    padding-top:0;
}

.spacer4 {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.spacer5 {
    display: flex;
    flex-direction: column;
}

.spacer6 {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}

.spacer4 img, .spacer4 iframe {
    width: 48%;
    padding: 2%;
}

.spacer6 img{
    width: 48%;
    padding: 2%;
}

.spacer6 iframe {
    width: 48%;
    padding: 2%;
    align-content: flex-end;
}

.spacer h1 {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.videos {
    width: 99%;
    display:flex;
    flex-direction: row;
    align-content: space-around;
}

.videos iframe {
    padding: 1%;
}